//color
$color-primary: #333399;
$color-primary-bright: #0B2F88;
$color-primary-dark: #243359;
$color-primary-light:  #9EB5EF;
$neutral-primary-color: #535F7C;
$alt-color-primary: #CC9933;
$alt-color-primary-bright: #CC9900;
$alt-color-primary-light: #FFFF99;
$alt-color-primary-dark: #666633;
$neutral-alt-color: #999966;
$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-black: black;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//font
$default-font-size: 1.6rem;