.footer{
    background-color: $color-primary-dark;
    color: $color-grey-light;

    .footer__header{
        padding: 1rem;
        margin-top: 2rem;
        border-bottom: 1px solid $color-grey-dark;
    }

    &__list {
        list-style: none;
        padding: 2rem;

        &--links{
            text-decoration: none;
            color: $color-grey-light;

            &:hover {
                transform: skewY(2deg);
            }
        }

    }

    &__copyright{
        

        & > p {
            font-size: 1rem;
            padding-bottom: 1rem;
        }
    }
}